  <div>

    <h1 mat-dialog-title>{{ data.title }}</h1>
    
    <div mat-dialog-content>
      <!-- <p>{{ data.content }}</p> -->
      
      <!-- firstname and lastname -->
      <div class="row">

          <div class="col-6">
            <div class="mb-3">
              <label 
              for="FirstName" 
              class="form-label">Firstname</label>
              <input 
                type="text" 
                class="form-control"
                name="FirstName"
                [(ngModel)]="this.selEmp.FirstName"
                id="exampleFormControlInput1" 
              >
            </div>
          </div>
          
          <div class="col-6">
            <div class="mb-3">
              <label 
              for="LastName" 
              class="form-label">Lastname</label>
              <input 
              type="text" 
              class="form-control" 
              [(ngModel)]="this.selEmp.LastName"
              id="exampleFormControlInput1">
            </div>
          </div>
       

      
      </div>

      <!-- contact -->
      <div class="row">
        <div class="col-12">
            <div class="mb-3">
              <label 
              for="contact" 
              class="form-label">Contact Number</label>

              <input 
              type="text" 
              class="form-control"
              [(ngModel)]="this.selEmp.ContactNumber" 
              id="contact">
            </div>
        </div>
        
      </div>

      <!-- email address -->
      <div class="row">
        <div class="col-12">
            <div class="mb-3">
              <label 
              for="contact" 
              class="form-label">Email Address</label>
              <input 
              type="email" 
              class="form-control" 
              [(ngModel)]="this.selEmp.Email"
              id="emailAddr">
            </div>
        </div>
        
      </div>

      <!-- dob -->
      <div class="row">
        <div class="col-12">
            <div class="mb-3">
              <label 
              for="dob" 
              class="form-label">Date of Birth</label>
              <input 
              type="datetime" 
              class="form-control" 
              id="dob"
              [(ngModel)]="this.selEmp.DateOfBirth"
              >
            </div>
        </div>
        
      </div>

      <!-- Address Template -->
      <div>
        <label 
          for=""
          style="font-weight: bold;">Address Info
        </label>

        <span 
        *ngIf="isAddAddress" 
        (click)="addNewAddress()"
        style="float: right; color: red;">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </span>
        <br><br>

        <!-- when address is not present -->
        <ng-container *ngIf="empAddr?.length < 1">
          <div>
            
            <button 
              mat-raised-button
              color="primary" 
              *ngIf="!this.isAddAddress"
              (click)="addNewAddress()">
              Add New Address
            </button>
          </div>
          
          <!-- template to add a new address if Add New Address Btn clicked -->
          <div 
          *ngIf="isAddAddress"
          style="border: 1px solid black; border-radius: 20px; padding: 20px;">
            <!-- 
              EmployeeId
              Street_number
              Street
              Suburb
              City
              State/Province
              Country
              Postal_code -->

            <form 
            [formGroup]="addressForm"
            (ngSubmit)="onAddressSubmit()">
              <!-- EmployeeId -->
              <div class="form-group" hidden>
                <label for="empId">Employee ID:</label>
                <input 
                type="text" 
                class="form-control"
                id="empId" 
                formControlName="EmployeeId">
              </div>

              <!-- Street Number -->
              <div class="form-group">
                  <label for="streetNumber">Street Number:</label>
                  <input 
                  type="text" 
                  class="form-control"
                  id="streetNumber" 
                  formControlName="Street_Number"
                  placeholder="Enter street number">
              </div>
  
              <!-- Street -->
              <div class="form-group">
                  <label for="street">Street:</label>
                  <input 
                  type="text" 
                  class="form-control"
                  id="street" 
                  formControlName="Street"
                  placeholder="Enter street name">
              </div>
  
              <!-- Suburb -->
              <div class="form-group">
                  <label for="suburb">Suburb:</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  formControlName="Suburb"
                  id="suburb" 
                  placeholder="Enter suburb">
              </div>
  
              <!-- City -->
              <div class="form-group">
                  <label for="city">City:</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="city" 
                  formControlName="City"
                  placeholder="Enter city">
              </div>
  
              <!-- State/Province -->
              <div class="form-group">
                  <label for="stateProvince">State/Province:</label>
                  <input 
                  type="text" 
                  class="form-control"
                  id="stateProvince" 
                  formControlName="State"
                  placeholder="Enter state/province">
              </div>
  
              <!-- Country -->
              <div class="form-group">
                  <label for="country">Country:</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="country" 
                  formControlName="Country"
                  placeholder="Enter country">
              </div>
  
              <!-- Postal Code -->
              <div class="form-group">
                  <label for="postalCode">Postal Code:</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="postalCode" 
                  formControlName="Postal_code"
                  placeholder="Enter postal code">
              </div>
  
              <br>
              
              <div class="form-group">

                  <button 
                  type="submit" 
                  class="btn btn-warning form-control"
                  [disabled]="addressForm.invalid">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </ng-container>
     
        <!-- When address is present -->
        <ng-container *ngIf="empAddr">
          <!-- Street Address -->
          <div class="row">
            <!-- Street Address -->
            <div class="col-6">
                <div class="mb-3">
                  <label 
                  for="streetAddr" 
                  class="form-label">Street Address</label>
    
                  <input 
                  type="text" 
                  class="form-control"
                  [(ngModel)]="this.empAddr.Street_number" 
                  id="streetAddr">
                </div>
            </div>

            <!-- Street -->
            <div class="col-6">
              <div class="mb-3">
                <label 
                for="street" 
                class="form-label">Street</label>
  
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="empAddr.Street" 
                id="street">
              </div>
          </div>
            
          </div>

          <!-- City | Postal_Code | Country -->
          <div class="row">
            <div class="col-4">
              <div class="mb-3">
                <label 
                for="city" 
                class="form-label">City</label>
  
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="empAddr.City" 
                id="city">
              </div>
            </div>

            <div class="col-4">
              <div class="mb-3">
                <label 
                for="postal" 
                class="form-label">Postal Code</label>
  
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="empAddr.Postal_code"  
                id="postal">
              </div>
            </div>

            <div class="col-4">
              <div class="mb-3">
                <label 
                for="county" 
                class="form-label">Country</label>
  
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="empAddr.Country" 
                id="county">
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Skills Template -->
      <div>
        <label 
          for=""
          style="font-weight: bold;">Skills
        </label>
        <br><br>
        <!-- header -->
        <div class="row">
          <div class="col-4">
            Skill
          </div>
          <div class="col-4">
            YrsExp
          </div>
          <div class="col-4">
            Seniority Rating
          </div>
        </div>
        <!-- header ends -->


        <!-- Two scenarios exist here -->
        <!-- 1. Some skill(s) already exists, and we may or may not want to append it -->
        <!-- loop through skills $>> if any <<$ -->
        <div *ngIf="empSkills">
        
          <div *ngFor="let _skill of empSkills">
            <ng-container [ngTemplateOutlet]="skillTemplate" [ngTemplateOutletContext]="{ skill: _skill }"></ng-container>
          </div>
        </div>

        <!-- 2. add more skills on click of Add New Skill button -->
        <div *ngFor="let newST of newSTIterator">
          <ng-container [ngTemplateOutlet]="newSkillTemplate" [ngTemplateOutletContext]="{ index: newST }"></ng-container>
        </div>

        
        
        <!-- Add New Skill button -->
        <button 
          mat-raised-button
          color="primary" 
          (click)="incrementNewSTIterator()">
          + Add New Skill
        </button>
      </div>
    </div>

    <div mat-dialog-actions>
      <button 
      mat-raised-button
      color="primary" 
      (click)="onCloseClick()">Close</button>
    </div>

    
  </div>



  <ng-template #skillTemplate let-skill="skill">
    <p>Incoming Skill: {{skill}}</p>
  </ng-template>


  <ng-template #newSkillTemplate let-index="index">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
         
          <!-- skill1 -->
          <input 
          type="text" 
          class="form-control" 
          name="skill">
        </div>
      </div>
      <div class="col-2">
        <div class="mb-3">
         
          <!-- YrsExp1 -->
          <input 
          type="number" 
          class="form-control" 
          name="YrsExp">
        </div>
      </div>

      <div class="col-4">
        <select
          class="form-control"
          id="selectedSkillLevel"
          (change)="onSkillLevelChange($event)"
          [(ngModel)]="selectedSkillLevel"
          name="selectedSkillLevel"
        >
          <option *ngFor="let level of skillLevels" [value]="level">{{ level }}</option>
        </select>
      </div>

      <div class="col-2">
        <a 
          style="color: red;"
          (click)="removeSelectedSkillInMemory(index)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
          </a>
      </div>
    </div>
    <p>
      I will add new skills: {{index}}

      
    </p>

    
   
  </ng-template>